<style>
    .jumbotron {
        background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("https://images.pexels.com/photos/990432/pexels-photo-990432.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
        background-size: cover;
        color: white;
    }
</style>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Online Library</h1>
    <p class="lead">Demo web app that uses Microsoft SQL Server for storing data.</p>
    <p><a href="#" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec congue turpis eu congue convallis. 
            Ut varius eu arcu ac congue. In eget metus sed dui suscipit maximus. 
            Morbi vel mauris pharetra sapien tincidunt cursus malesuada sit amet dolor. 
        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>Vestibulum viverra, felis vel cursus mattis, nulla orci consequat elit, vitae ullamcorper odio turpis quis justo. 
            Nulla eget semper tellus, elementum fermentum ante.</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Lorem Ipsum</h2>
        <p>Nunc non risus in odio sollicitudin molestie vel a metus. Donec in elit nec massa lacinia facilisis sit amet nec sem.</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
</div>